#box1{
    height:600px;
    width:600px;
    background-color:beige;
    display:flex;
    justify-content:center;
    align-items:center;
}
#box2{
    height:300px;
    width:300px;
    background-color:#cc9797;
    border:black solid 2px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:all 3s linear 0s;
}

#box2:hover{
/*    use -ve vlaues to change the direction*/
/*    transform:rotate(45deg);*/
/*    transform:skew(10deg);*/
/*    transform:translate(100px);*/
    transform:scale(0.5);


}
p{
    font-size:25px;
}