*{
    padding:0rem;
    margin:0rem;
}

:root{
    --progress-degree:0%;
}

#parentContainer{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#bcb3b3;
}

#childContainer{
    width:80%;
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    background-color:#4c4646;
    border-radius: 1rem;
    gap:2rem;
}
#childContainer h2{
    color:white;
}
#userForm{
    font-size:1.2rem;
    color:white;
}
#searchButton{
    padding:0.3rem;
    color:black;
}
#usernameInput{
    padding:0.3rem;
    width:50%;
}
#pieDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.innerDiv{
    width:100px;
    height:100px;
    border-radius:50%;
    border: 4px solid #38b838;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:16;
    color:white;
    font-weight:700;
    background: conic-gradient(
    #38b838 var(--progress-degree) 0%,
    #072e07c2 0%
    );
}



#easySpan, #mediumSpan, #hardSpan{
    position: relative;
    z-index:2;
}
.innerDiv p{
    font-size:1rem;
    color:white;
}
#tilesDiv{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    gap:1rem;
    margin:2rem;
}
.tile{
    background-color:orange;
    padding:0.4rem;
    width:45%;
    border-radius:0.4rem;
}
.tile p{
    color:white;
}
