*{
    padding:0rem;
    margin:0rem;
}

:root{
    --progress-degree:0%;
}

#parentContainer{
    height:400px;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#childContainer{
    height:70%;
    width:80%;
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    background-color:#bcb7b7;
}
#userForm{

}
#searchButton{
    padding:0.3rem;
}
#usernameInput{
    padding:0.3rem;
    width:50%;
}
#pieDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.outerDiv{
    width:100px;
    height:100px;
    border-radius:50%;
    border: 4px solid #38b838;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16;
    color:white;
    font-weight:700;
    background: conic-gradient(
    #38b838 var(--progress-degree) 0%,
    #072e07c2 0%
    );
}


#easySpan, #mediumSpan, #hardSpan{
    position: relative;
    z-index:2;
}